
.container{
  background-color:gray;
  height: 91vh !important;
  width:100vw;
  /* display:flex;*/
  float:left; 
  overflow-x: scroll;
  

  /* border: 1px solid green; */
}
.wrapper{
  margin:2vw;
  border:5px solid black;
}
.Footer{
  position: absolute;
  bottom:0px;
  width:100vw;
}
.image{
  
  
  /* margin:5vh; */
  margin:5px;
  height:30vh;
  width:10vw;
}
.titleText{
  font-size: 20px;
  text-align: center;
}
.inputSearch{
  position: absolute;
  top:1vh;
  right:50vw;
}
.addButton{
 margin-left:45%;
 margin-bottom:2%;
  
}
#cartInfo{
  margin-left:80%;
  border: 1px solid black;
  width:20vw;
  
}
.cartButton{
  position: absolute;
  right:.5%;
  top:.5%
}