.Main{
  background-image:url('DS7834_enl.jpg')!important;
}
.container{
  background-color:lightgray;
  opacity: .90;
  margin-left:15.2%;
  height: 91vh;
  width:70vw;
  /* display:flex;
  float;  */
  overflow-x: scroll;
  

  /* border: 1px solid green; */
}
.wrapper{
  height:40vh;
  margin:2vw;
  border:5px solid black;
}
.Footer{
  position: absolute;
  bottom:0px;
  width:100vw;
}
.image{
  
  /* margin:5vh; */
  margin:5px;
  height:30vh;
  width:10vw;
}
.titleText{
  font-size: 20px;
  text-align: center;
}
.inputSearch{
  position: absolute;
  top:1vh;
  right:44.3vw;
}
.addButton{
 
 /* margin-left:45%; */
 position: relative;
 left:85%;
 bottom: 28vh;

 /* margin-bottom:2%; */
  
}
#cartInfo{
  margin-left:80%;
  border: 1px solid black;
  width:20vw;
  
}
.cartButton{
  position: absolute;
  right:.5%;
  top:.7%;
}
.comicText{
width:40vw;
position: relative;
left:26vh;
bottom:27vh;
}
.pageText{
  position: relative;
  left:50%;
  bottom:45%;
}
.priceText{
  position: relative;
  left:87%;
  bottom:75%;
  font-size: 25px;

}